body, .p {
    background-color: black; !important
    color: white; !important
}

/* Create one column */
.one-column-container {
    max-width: 1200px !important;
}

.wy-nav-content {
    max-width: 1200px !important;
    padding: 10px; !important
}

/* Create two columns -40%/60% - that float next to each other (left align) */
.two-column-container {
    height: 400px;
}

.image-column {
    float: left;
    width: 40%;
    padding: 8px;
}

.text-column {
    float: left;
    width: 60%;
    padding: 10px;
}

/* Create two columns -25%/75% - that float next to each other (left align) */
.two-column-containerlq {
    height: 250px;
}

.image-columnlq {
    float: left;
    width: 25%;
    padding: 8px;
}

.text-columnlq {
    float: left;
    width: 75%;
    padding: 10px;
}

/* Create two columns -40%/60% - that float next to each other (right align) */
.two-column-containerr {
    height: 500px;
}

.image-columnr {
    float: right;
    width: 40%;
    padding: 8px;
}

.text-columnr {
    float: right;
    width: 60%;
    padding: 10px;
}


/* Create two columns -25%/75% - that float next to each other (left align) */
.two-column-containerrq {
    height: 250px;
}

.image-columnrq {
    float: left;
    width: 25%;
    padding: 8px;
}

.text-columnrq {
    float: left;
    width: 75%;
    padding: 10px;
}
